.AreaImportacao{
    font-family: 'Lato', sans-serif;
}

.userimg{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid white;
}

.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50px;
    background-color: #3D1A78;
    padding: 0 .8rem;
    transition: all 0.5s ease;
    
    box-shadow: 0px 10px 20px 5px rgba(80, 80, 80, 0.8);
}


.sidebar.aberto{
    width: 300px;
}

.sidebar #btn{
    position: absolute;
    color: white;
    top: .6rem;
    right: 50%;
    font-size: 30px;
    line-height: 50px;
    transform: translateX(50%);
    cursor: pointer;
    margin-top: 8px;
}

.sidebar.aberto #btn {
    left: 80%;
}

.sidebar .top .logo {
    margin-top: 10px;
    color: white;
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    display: none;
}

.sidebar.aberto .top .logo {
    display: flex;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    margin-bottom: 40px;
}

.user p{
    color: white;
    display:inline-block;
    margin-left: 1rem;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.user img{
    margin-top: 40px;
}

.sidebar.aberto .user img{
    margin-top: 0;
}

.sidebar p {
    display: none;
}

.sidebar.aberto p{
    display:inline-block;
}

.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 40px;
    width: 90%;
    line-height: 50px;
}

.sidebar ul li a{
    color: white;
    display: flex;
    align-items:center;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.8rem;
    margin-top: 20px;
    margin-left: 3px;
    height: 50px;
    min-width: 50px;
}

.sidebar.aberto ul li a{
    justify-content: left;
    font-size: 24px;
    font-weight: 300;
}

.sidebar ul li a:hover{
    background-color: white;
    color: #3D1A78;
    font-weight: 600;
}

.sidebar ul li a svg {
    min-width: 50px;
    height: 30px;
    border-radius: 12px;
    line-height: 50px;
}


.sidebar .navitem{
    display: none;
}

.sidebar.aberto .navitem{
    display: inline-block;
}

.sidebar ul li .tooltip{
    width: 100px;
    position: absolute;
    right: 125px;
    top: 50%;
    transform: translate(40%, -30%);
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    display: none;
    background-color: white;
    color: black;
}

.sidebar ul li:hover .tooltip{
    display: inline-block;
}

.sidebar.aberto ul li .tooltip{
    display: none;
}

.sidebar #sair{
    position: absolute;
    color: white;
    bottom: 1.2rem;
    right: 50%;
    font-size: 30px;
    line-height: 50px;
    transform: translateX(50%);
    cursor: pointer;
    margin-top: 8px;
}

.sidebar.aberto #sair {
    left: 65%;
    bottom: 1.2rem;
}
.sidebar .textosair{
    display: none;
}

.sidebar.aberto .textosair {
    position: absolute;
    color: white;
    bottom: .6rem;
    right: 50%;
    left: 80%;
    font-size: 24px;
    line-height: 50px;
    transform: translateX(50%);
    cursor: pointer;
    margin-top: 8px;
    display: inline-block;
}

.sidebar .bottom .tooltip{
    width: 50px;
    position: absolute;
    right: 125px;
    bottom: .6rem;
    transform: translate(40%, -10%);
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    display: none;
    background-color: white;
    color: black;
}

.sidebar .bottom:hover .tooltip{
    display: inline-block;
}

.sidebar.aberto .bottom .tooltip{
    display: none;
}